{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <div class="screen-wrapper">
        <div class="navbar">
            <ul>
                <li><a href="{% url 'main:homepage' %}">Home</a></li>
                <li><a href="{% url 'main:add' %}">Add Photos</a></li>
            </ul>
        </div>
        <div class="form-wrapper">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
    
</body>
</html>